
{{#partial "title"}}
    Scriptors|profile
{{/partial}}

{{#partial "content"}}
<h1>Welcome, {{ username }} </h1>
View <a href="/ideas">all course ideas </a>
{{/partial}}
<!--Says to that it acts on the base.hbs file blocks -->
{{> base.hbs }}